postgres:
  image: postgres:9.4
  environment:
    - "POSTGRES_USER=panoptes"
    - "POSTGRES_PASSWORD=panoptes"
    - "POOL=16"
    - "DB=panoptes_development"
  ports:
    - "6000:5432"
  volumes:
    - ./tmp/:/tmp

redis:
  image: redis
  command: redis-server --appendonly yes
  # ports:
  #   - "6379:6379"

cellect:
  build: .
  dockerfile: Dockerfile.dev
  volumes:
    - ./:/cellect_panoptes
  ports:
    - "4000:80"
  environment:
    - "RACK_ENV=development"
    - "DEBUG_CELLECT_START=true"
    - "PUMA_MAX_THREADS=16"
    - "PUMA_PORT=80"
    - "ATTENTION_REDIS_URL=redis://redis:6379/1"
    - "RELOAD_TIMEOUT=60"
    # use the database url to override the dd connection, e.g. to hit another server
    - "DATABASE_URL=postgresql://panoptes:panoptes@pg:5432/panoptes_development?pool=16"
    # - "PRELOAD_WORKFLOWS=1"
  links:
    - postgres:pg
    - redis
